body, html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.container {
    padding: 20px;
}

.report {
    display: flex;
    flex-direction: column;
}

#baseData, #morphData {
    min-width: 100%;
}

#table {
  table-layout: fixed;
  min-width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

#tableContainer {
    padding-bottom: 10px;
    min-height: fit-content;
}

.tableContainerResize {
    overflow: scroll;
    resize: both;
}

#graph {
    position: absolute;
    z-index: 1;
}

th, .category {
    font-weight: bold;
    text-align: center;
}

th:nth-child(even) {
    background-color: #dddddd99;
}

td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(odd) {
    background-color: #eeeeee8e;
}

tr:nth-child(even) .category {
    background-color: #dddddd99;
}

textarea {
    font-family: monospace;
    font-size: 14px;
}

#error {
    background-color: #cc0000;
}

#error, #warn {
    margin-top: 5px;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    font-family: monospace;
}

.hide {
    display: none !important;
}

#warn {
    background-color: #ff7700;
}

.controls {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

#switchAll {
    margin-left: 5px;
}

.caption {
    transform: rotate(284deg);
    /*white-space: nowrap;*/
    display: inline-block;
}

.visualization {
    transform: scale(1.0)
}

.toggleControls {
    border: 0;
    background: #eee;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-start;
}

.hide {
    display: none;
}

.selectionControls {
    margin-bottom: 10px;
    font-weight: bold;
}

.cell {
    padding: 5px;
}

@media print {
    .visualization {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }

    .controls {
        display: none;
    }
}